@import '../App.css';
.details {
    display: flex;
    justify-content: center;
    p {
        font-size: 2rem;
        padding: 1rem;
        color: $orange;
    }
    
}
    .detimg {
        height: 6rem;
        width: auto;
        padding-left: 1rem;
       
        
    }
    .name {
        text-align: center;
        font-size: 3rem;
    }

.episodes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    a {
        padding: .8rem;
    }
}